{% extends 'base.html' %}

{% block body %}

    <div class="container">
        <hr>
        <div class="row">

                <form method="POST" action="" class="border p-4 mt-2">
                    {{ form_turma.csrf_token }}
                    <legend>CADASTRE A TURMA</legend>
                    <fieldset>
                        <div class="form-group">
                            {{ form_turma.nome.label(class="form-control-label") }}
                            {{ form_turma.nome(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form_turma.carga.label(class="form-control-label") }}
                            {{ form_turma.carga(class="form-control") }}
                        </div>
                    </fieldset>
                    {{ form_turma.botao_submit_turma(class="btn btn-primary mt-2") }}
                </form>

        </div>
    </div>

{% endblock %}