{% extends 'base.html' %}

{% block body %}

    <div class="container">
		<br>
        <h1>GEP - Protótipo Gerenciamento de Escala de Professores </h1>
        <br>
        <h2>PI - Sala 001 Grupo 005</h2><br>
            <ul>
              <li>Bruna Aparecida Lopes Correia: 2109709</li>
              <li>Bruna Boniotti Tiano: 23100061</li>
              <li>Cristina Neira Couto: 2102499</li>
              <li>José Eduardo dos Santos: 2108704</li>
              <li>Rogerio Xavier Soares: 2102970</li>
              <li>Sarah Alves Meireles de Oliveira: 23100244</li>
              <li>Victor Bellido Cortez: 2100791</li>
              <li>Vinicius Montagner: 2101724</li>
            </ul>
        <br>
        <h5>Orientador: José Carlos Melchior Arnosti</h5>

		<br>
    </div>

{% endblock %}